<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 30px;
        }

        .theme-dropdown .dropdown-menu {
            position: static;
            display: block;
            margin-bottom: 20px;
        }

        .theme-showcase > p > .btn {
            margin: 5px 0;
        }
    </style>
</head>
<body role="document">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-home"></i> D3 by #:P</a>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index", "World")">World </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cookbook <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href='@Url.Action("WorkingWithArrays", "D3")'>Working with arrays</a></li>
                <li><a href='@Url.Action("FilteringWithData", "D3")'>Filtering with data</a></li>
                <li><a href='@Url.Action("UsingQuantitativeScales", "D3")'>Using Quantitative Scales</a></li>
                <li><a href='@Url.Action("PlayingWithAxes", "D3")'>Playing With Axes</a></li>
                <li><a href='@Url.Action("TransitionWithStyle", "D3")'>Transition With Style</a></li>
              </ul>
            </li>
              <li>
                  <a href="@Url.Action("D3UX", "D3")">D3UX</a>
              </li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">In Action <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href='@Url.Action("Index", "InAction")'>Index</a></li>
                      <li><a href='@Url.Action("WorldCup", "InAction")'>Working with arrays</a></li>
                      <li><a href='@Url.Action("ChartComponent", "InAction")'>Chart Component</a></li>
                      <li><a href='@Url.Action("LineChart", "InAction")'>Line Chart</a></li>
                      <li><a href='@Url.Action("ComplexAccessorFunctions", "InAction")'>Complex Accessor Functions</a></li>
                      <li><a href='@Url.Action("Sankey", "InAction")'>Sankey</a></li>
                      <li><a href='@Url.Action("WordCloud", "InAction")'>Word Cloud</a></li>
                      <li><a href='@Url.Action("Networks", "InAction")'>Networks</a></li>
                  </ul>
              </li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">CFD<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="@Url.Action("Index", "CFD")">Index</a></li>
                      <li><a href="@Url.Action("Stack", "CFD")">Stack</a></li>
                      <li><a href="@Url.Action("StackBar", "CFD")">Stack Bar</a></li>
                  </ul>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/d3")

    @RenderSection("scripts", required: false)
</body>
</html>
